%h1 Listing participations

%table
  %thead
    %tr
      %th Workshop session
      %th WorkshopRegistration
      %th Score
      %th
      %th
      %th

  %tbody
    - @participations.each do |participation|
      %tr
        %td= participation.workshop_session
        %td= participation.workshop_registration
        %td= participation.score
        %td= link_to 'Show', participation
        %td= link_to 'Edit', edit_participation_path(participation)
        %td= link_to 'Destroy', participation, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Participation', new_participation_path
