= form_for @workshop do |f|
  - if @workshop.errors.any?
    #error_explanation
      %h2= "#{pluralize(@workshop.errors.count, "error")} prohibited this workshop from being saved:"
      %ul
        - @workshop.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :subtitle
    = f.text_field :subtitle
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :category
    = f.select :category_id, options_for_select(Category.all.map { |c| [c.name, c.id]}), {include_blank: I18n.t('category_select', scope: [:views, :workshops])}
  .field
    = f.label :fees
    = f.number_field :fees, in: 0..100, step: 0.01
  -#.field
    -#= f.label :main_image
    -#= f.text_field :main_image
  -#.field
    -#= f.label :more_images
    -#= f.text_field :more_images
  - if current_user 
    .actions
      = f.submit 'Save'
  - else 
    %h2 Please Register/Login to be able to create
