.col-sm-6.col-md-4.col-xs-10.col-centered
  .workshop-listing
    .listing-image
      = link_to workshop, class: "media-cover media-photo" do
        .listing-image-container.media-cover.text-center
          = image_tag workshop.main_image, class: "img-responsive"
      .listing-overlay
        %span.price-tag= number_to_currency(workshop.price, unit: '€')
    .listing-body
      = link_to workshop do
        %h3.listing-title= workshop.title
      = "#{workshop.registered_users.count} registered users"
      .listing-user.pull-right
        = image_tag workshop.provider.image, class: "img-user img-medium"

