%h1 Listing workshops

%table
  %thead
    %tr
      %th Title translations
      %th Subtitle translation
      %th Description translations
      %th Category
      %th Offered on
      %th Fees
      %th Provider
      %th Main image
      %th More images
      %th
      %th
      %th

  %tbody
    - @workshops.each do |workshop|
      %tr
        %td= workshop.title_translations
        %td= workshop.subtitle_translations
        %td= workshop.description_translations
        %td= workshop.category
        %td= workshop.offered_on
        %td= workshop.fees
        %td= workshop.provider
        %td= workshop.main_image
        %td= workshop.more_images
        %td= link_to 'Show', workshop
        %td= link_to 'Edit', edit_workshop_path(workshop)
        %td= link_to 'Destroy', workshop, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Workshop', new_workshop_path
