%p#notice= notice

%p
  %b Title translations:
  = @workshop.title_translations
%p
  %b Subtitle translation:
  = @workshop.subtitle_translations
%p
  %b Description translations:
  = @workshop.description_translations
%p
  %b Category:
  = @workshop.category
%p
  %b Offered on:
  = @workshop.offered_on
%p
  %b Fees:
  = @workshop.fees
%p
  %b Provider:
  = @workshop.provider
%p
  %b Main image:
  = @workshop.main_image
%p
  %b More images:
  = @workshop.more_images

= link_to 'Edit', edit_workshop_path(@workshop)
\|
= link_to 'Back', workshops_path
