%section 
  #header.workshops{ :style => "background-image: url(#{image_path(@workshop.main_image)})" }
    .overlay
      .overlay-details 
        .uSlash 
          %h1.section-heading= @workshop.title 
        %h2= @workshop.subtitle
.container 
  .row
    .col-md-8
      .row 
        %h2.workshop-subtitle= @workshop.subtitle
      .row.workshop-description
        = @workshop.description
    .col-md-4
      .workshop-user-profile
        .user-details
          %h3.text-center= "Offered By"
        .user-image
          = image_tag @workshop.provider.image, class: "center-block img-user img-large"
        .user-details
          %h3.text-center=link_to @workshop.provider.first_name, user_path(@workshop.provider_id)
    .col-md-12
      .row
        = render partial: 'workshop_sessions/workshop_session', collection: @workshop.workshop_sessions 
    .col-md-8
      .workshop-comments
        %ul
          = render partial: 'workshops/comment', collection: @workshop.comments
    .col-md-4
      .workshop-venue
