%p#notice= notice

%p
  %b Value:
  = @rating.value
%p
  %b Creator:
  = @rating.creator
%p
  %b Rated object:
  = @rating.rated_object

= link_to 'Edit', edit_rating_path(@rating)
\|
= link_to 'Back', ratings_path
