%section.no-bottom
  #header.mainpage
    #main-carousel.owl-carousel
      = render partial: 'workshops/workshop_slide', collection: @workshops
.container
  .row.row-centered
    %section
      %h1 Let's celebrate our skills!
  .row.row-centered
    %section.no-bottom
      %h2.important-content Would you like to <a href=""> share</a> your skill, or would you like to <a href=""> learn</a> a new one?
      .row
        .row.red-box
          = render partial: 'categories/category', collection: @categories
  .row.row-centered
    %section
      .row.no-expand-right-left
        .row.row-centered.no-expand-right-left
          .col-sm-8.col-sm-offset-2
            .row.row-centered.no-expand-right-left
              = render partial: 'pages/join_us'
    %section
      .row.no-expand-right-left
        .row.row-centered.wired-background
          .col-md-7
            .row.row-centered.no-expand-right-left
              .uskillity-logo
            .row.text-content
              %p is the foundation of our community. The fully responsive Website, is the gateway to our marketplace, where you can offer or find the Skills, Knowledge and experience you’re passionate about.
          .col-md-5
            .computer-image
      .row
        .col-md-4
          .row.text-content.text-left
            %h2.important-content Share your skill!
            %ul.small-left-padding
              %li Easily offer a workshop, course or tutoring session
              %li Reach new customers
              %li Save time
            %p= link_to "Read more...", "", :id => 'share_details_link'
        .col-md-4
          .row.text-content.text-left
            %h2.important-content Learn a new skill!
            %ul.small-left-padding
              %li One place for workshop, courses or tutoring sessions
              %li Pick from a variety of choices, prices and locations
            %p= link_to "Read more...", "", :id => 'looking_around_link'
        .col-md-4
          .row.text-content.text-left
            %h2.important-content Connect:
            %ul.small-left-padding
              %li Connect to people that share your passions
              %li Share tips and advice
              %li Join the celebration
            %p= link_to "Read more...", "", :id => 'inspiration_link'
  .row.row-centered
    %section.no-bottom
      %h3.section-heading.important-content And this is how it works
      .col-sm-6.col-sm-offset-3
        #switch-slides.btn-group.btn-group-justified
          .btn-group
            %button#learn_click.btn.btn-default.btn-lg.btn-block.active{:type => "button", :style => "float: right" } Share
          .btn-group
            %button#offer_click.btn.btn-default.btn-lg.btn-block{:type => "button"} Learn
      #learn-slide.col-sm-12.switch-slide
        = render partial: 'pages/share_skill_content'
      #offer-slide.col-sm-12.switch-slide
        = render partial: 'pages/learn_skill_content'
