%section
  #header.mainpage
    #main-carousel.owl-carousel
      = render partial: 'workshops/workshop_slide', collection: @workshops
.container
  .row.row-centered
    %section 
      %h1 Let's celebrate our skills!
  .row.row-centered
    %section.no-bottom 
      %h2.important-content Would you like to <a href=""> share</a> your skill, or would you like to <a href=""> learn</a> a new one?
      .row
        .row.red-box 
          = render partial: 'categories/category', collection: @categories
  .row.row-centered
    %section
      .row
        .col-sm-8.col-sm-offset-2
          .row.row-centered
            = render partial: 'pages/join_us'
        .col-md-7
          .row
            .uskillity-logo
          .row.text-content 
            %p is the foundation of our community. The fully responsive Website, is the gateway to our marketplace, where you can offer or find the Skills, Knowledge and experience you’re passionate about.
          .row.text-content.text-left 
            %h4.important-content So what's in it for you, when...
        .col-md-5
          .row.computer-image 
      .row 
        .col-md-4
          .row.text-content.text-left
            %h4.important-content you're allready sharing your sklls
            %ul 
              %li its easy to set up
              %li you get your Money in 24 h
              %li you‘ll safe time
              %li you don’t have to worry
            %h4= link_to "Read more...", "", :id => 'share_details_link'
        .col-md-4
          .row.text-content.text-left
            %h4.important-content or are just looking for new ones?
            %ul 
              %li One Platform for all Workshops
              %li Huge diversity of choices
              %li Save time
              %li Connect
              %li Enjoy
            %h4= link_to "Read more...", "", :id => 'looking_around_link'
        .col-md-4
          .row.text-content.text-left
            %h4.important-content or just want to connect, inspire and embrace
            %ul
              %li Experience matters
              %li Everybody has unique skills
            %h4= link_to "Read more...", "", :id => 'inspiration_link'
  .row.row-centered
    %section.no-bottom
      %h2.section-heading How it works
      .col-sm-6.col-sm-offset-3
        #switch-slides.btn-group.btn-group-justified
          .btn-group
            %button#learn_click.btn.btn-default.btn-lg.btn-block.active{:type => "button", :style => "float: right" } Learn
          .btn-group
            %button#offer_click.btn.btn-default.btn-lg.btn-block{:type => "button"} Offer
      #learn-slide.col-sm-12.switch-slide
        = render partial: 'pages/learn_skill_content'
      #offer-slide.col-sm-12.switch-slide
        = render partial: 'pages/share_skill_content'
