%section 
  #header.categories{ :style => "background-image: url(#{image_path(@category.image)})" }
    .overlay
      .overlay-details 
        .uSlash 
          %h1= @category.name 
        %h2= "#{@category.workshops.count} workshops available"
.container
  .row.row-centered
    %section 
      .row
        = render partial: 'workshops/workshop', collection: @workshops
