%h2 Register for our email newsletter
#new_user
  = form_for(@user, url: user_mailinglist_registration_path(@user)) do |f|
    = devise_error_messages!
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true
    .actions
      = f.submit "Sign up"
